
@keyframes spin {
  0% {transform: rotateX(0deg);}
  12% {transform: rotateX(45deg);}
  25% {transform: rotateX(90deg);}
  37% {transform: rotateX(135deg);}
  50% {transform: rotateX(180deg);}
  62% {transform: rotateX(225deg);}
  75% {transform: rotateX(270deg);}
  87% {transform: rotateX(315deg);}
  100% {transform: rotateX(360deg);}
}

@keyframes colourChange{
  0% {color: white;}
  50% {color: #DDD222;}
  100% {color: white;}
}


body {
  font-size: 40px;
  color: rgb(160,160,160);
  text-align: center;
  margin: auto;
  background: rgb(40, 40, 40);
  font-family: "Helvetica";
  position: relative;
  overflow: hidden;
}

#main_menu {
  font-family: "Amatica SC";
  position: relative;
  bottom: 30px;
  height: 800px;
  background-image: linear-gradient(to top left, #3158CE, black);
  padding-top: 140px;
}

.spin_square {
  background-image: linear-gradient(to top right, red, black);
  font-size: 30px;
  width: 40px;
  height: 40px;
  border: 0px solid red;
  border-radius: 10px;
  position: absolute;
  top: 410px;
  left: 950px;
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#spin_second {
  position: absolute;
  left: 380px;
}

#start_click {
  animation-name: colourChange;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#game {
  position: relative;
  bottom: 30px;
  height: 800px;
  display: none;
}


#title_heading {
  height: 0px;
  width: 500px;
  float: left;
}

#stats {
  text-align: left;
  float: left;
  margin-left: 110px;
  padding-top: 200px;
}

#interface {
  /* background-color: black; */
  width: 570px;
  height: 570px;
  padding-top: 40px;
  margin: 20px auto;
}

.tiles {
  background: green;
  border: 0px solid black;
  border-radius: 30%;
  float: left;
}

#sidebar {
  height: 0px;
  width: 100px;
  float: right;
  position: relative;
  right: 200px;
  bottom: 300px;
}

[id$="button"] {
  width: 200px;
  outline: none;
  font-size: 50px;
  border-radius: 10px;
  margin: 30px auto;
  visibility: hidden;
}

#show_button {
  color: rgb(60,60,120);
  border: 4px solid rgb(60,60,120);
  position: absolute;
  right: 900px;
}

#restart_button {
  color: green;
  border: 4px solid green;
  float: left;
  position: relative;
  right: 40px;
}

#timer_p {
  text-align: center;
  position: relative;
  bottom: 100px;
  left: 40px;
}
